@import "../utils/variables";

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #c0c0c0;
  color: $black;
  font-size: $default-FontSize;
  line-height: $default-LineHeight;
}

.app {
  margin: 0 auto;
  background-color: $white;
  height: 462px;
  width: 621px;
  padding: 14px 9px 13px 12px;


  &__wrapper {
    height: 100%;
    border: 1px solid $black;
  }
}

.weather-app {
  position: relative;

  &__input {
    min-height: 45px;
    width: 100%;
    padding: 7px 17px 8px 16px;
    border: none;
    outline: none;
  }

  &__search {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 7px;
    right: 17px;
    cursor: pointer;
    background: no-repeat url("/src/assets/img/Search.svg");
    border: none;
  }
}

.main-wrapper {
  display: flex;
  height: 390px;
  border-top: 1px solid $black;
}

.main-block {
  width: 50%;
  border-right: 1px solid $black;


  &__window {
    height: 342px;
  }

  &__tabs {
    align-items: end;
    border-top: 1px solid $black;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    min-height: 45px;
    text-align: center;
    border-bottom: 1px solid $black;
    position: relative;
  }

  &__item {
    width: 33.33%;
    font-size: 18px;
    border: none;
    line-height: 21px;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: $black;
    padding-top: 12px;
  }
}

.active-tab {
  color: $white;
  background-color: $black;
}

.aside {
  width: 50%;

  &__top {
    display: block;
    border-bottom: 1px solid $black;
    min-height: 68px;
    padding: 33px 0 7px 18px;
  }

  &__title {
    display: block;
  }

  &__cities {
    padding: 35px 17px 20px;
  }

  &__empty {
    font-size: 20px;
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 3px;
    position: relative;
  }

  &__button-close {
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: inherit;

    &:hover {
      color: rgba(4, 4, 4, 0.72);
    }
  }

  &__city {
    cursor: pointer;

    &:hover {
      color: rgba(4, 4, 4, 0.72);
    }
  }
}

.weather {

  &__now {
    display: none;
    flex-direction: column;
    padding: 20px 26px 17px 24px;

    p {
      font-size: 70px;
      line-height: 82px;
    }
  }

  &__now:target {
    display: block;
  }


  &__img {
    display: block;
    margin: 40px auto 98px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__add-favorites {
    cursor: pointer;

    animation-name: jump;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  @keyframes jump {
    0% {
      top: 0%;
    }
    50% {
      border-radius: 0%;
    }
    100% {
      top: 10%;
    }
  }


  &__details {
    display: none;
    padding: 33px 15px 15px;
  }

  &__details:target {
    display: block;
  }

  &__list {
    margin-top: 42px;
  }

  &__item {
    font-size: 24px;
    line-height: 28px;
    list-style-type: none;
  }


  &__forecast {
    display: none;
    height: 345px;
    padding: 33px 16px 0px;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0
    }
  }

  &__forecast:target {
    display: block;
  }

  &__card-list {
  }

  &__card-item {
    border: 1px solid $black;
    padding: 6px 10px;
    margin-bottom: 9px;
    list-style-type: none;
    font-size: 18px;
    line-height: 21px;
  }

  &__city {
    display: block;
    margin-bottom: 7px;
  }

  &__first-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
  }

  &__second-row {
    display: flex;
    justify-content: space-between;
  }

  &__temp {
    display: block;
  }

  &__temp-feel {
    display: block;
  }
}

.error {
  position: absolute;
  height: 40px;
  width: 190px;
  background-color: red;
  color: $white;
  border-radius: 15px;
  padding: 5px;
  opacity: 0.7;
  font-size: 14px;
  z-index: 10;
  right: 45%;
  transition: all 0.3s;
}